
/* light bulb images created by my wife UX Designer */
/* background images from https://tamagotchi.fandom.com/wiki/Patchi_Forest */

:root {
    --main-width: 80vw;
    --main-min-width: 450px;
    --main-max-width: 600px;
}

body {
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: black;
    background-image: url('../img/Patchi_forest_new.png');
    background-size: cover;
    background-position: center;
    min-width: var(--main-min-width);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-radius: 50%; */
    /* position: relative; */
    /* overflow: scroll; */
}

button {
    cursor: pointer;
    /* border: none; */
    outline: inherit;
}

header, main {
    width: var(--main-width);
    min-width: var(--main-min-width);
    max-width: var(--main-max-width);
}

header {
    background-color: thistle;
    /* height: 10vh; */
    /* height: 180px; */
}

.logo-container {
    display: flex;
    justify-content: center;
}

#name-display {
    font-family: 'Long Cang', cursive;
    font-size: 3em;
    font-weight: bold;
    line-height: 0.6em;
    padding-right: 10px;
    padding-top: 10px;
    text-align: right;
    margin: 0;
    /* display: inline; */
    /* vertical-align: middle; */
    /* top: 100px; */
}
#logo {
    height: 90px;
}

.start-game {
    display: inline-block;
    padding: 0 0 10px 20px;
    width: 190px;
    /* border: solid 1px red; */
    text-align: center;
    /* background-color: lightyellow; */
}

input {
    margin: -15px auto 5px;
    outline: inherit;
}

.status-container {
    float: right;
}

h4 {
    margin: 0 0 10px;
}

ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 50px;
    width: 230px;
    columns: 2;
}

.status {
    list-style: none;
    margin-bottom: 5px;
    /* width: 120px; */
}

main {
    position: relative;
    /* display: block; */
    height: 70vh;
    /* height: 500px; */
    min-height: 300px;
    background-color: lightyellow;
}

.light-btn {
    /* display: inline; */
    background: url('../img/lightOn.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    /* background-color: red; */
    position: absolute;
    border: none;
    right: 0;
    /* float: right; */
    margin-right: 30px;
    padding: 0;
    width: 70px;
    height: 88px;
    transition: all ease-in-out 1s;
}
.playground {
    box-sizing: border-box;
    background-image: url('../img/Patchi_forest_gogo.jpg');
    /* background-image: url('../img/lightOff.png'); */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90%;
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-end; */
    border-left: solid 1px grey;
    border-right: solid 1px grey;
    transition: all ease-in-out 1s;
}

.opaqueLayer {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 100%;
}

.tamagotchi {
    display: none;
    /* background-color: lightblue; */
    position: absolute;
    width: 20vw;
    height: 25vh;
    left: 35%;
    top: 40%;
    transition: all linear 1s;
}
.tamagotchi:hover {
    left: 20%;
    top: 35%;
}

.pet {
    position: absolute;
    /* bottom: 0; */
    min-height: 100px;
    /* transition: height linear 1s; */
    transition: opacity ease-in-out 1s;
    transition: all linear 1s;
    height: 60%;
}

#tween, #teen, #adult {
    opacity: 0;
}

.actions {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: thistle;
    text-align: center;
}

.actions button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 20px;
}
.show {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.night {
    background-image: url('../img/Patchi_forest_night.png');
    background-size: cover;
    background-position: center;
    background-color: rgba(2, 4, 67, 0.529);
}

.light-off {
    background: url('../img/lightOff.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}